/* styles.css - Подключите этот файл в вашем index.html или через import в вашем главном JavaScript файле */

body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: grey;
  height: 100%;
  margin: 0;
}
#root, .app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex: 1;

}

.app-header, .app-footer {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-align: center;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.app-footer {
  margin-top: 20px;
}

.date-time, .language-switcher, .menu {
  margin: 5px;
}

.language-switcher button, .dropdown-button {
  font-size: 18px;
  padding: 14px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  /*display: none; !* Изначально скрыто *!*/
  /*position: absolute;*/

  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content ul{
  display: flex;
}


.dropdown-button:focus + .dropdown-content, .dropdown-content:hover {
  display: block; /* Показывать при наведении или фокусе */
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}




/* Media Queries */
@media (max-width: 768px) {
  .app-header {
    flex-direction: column;
  }

  .menu, .language-switcher {
    width: 100%;
    text-align: center;
  }

  .dropdown-content {
    width: 100%; /* Полная ширина на маленьких экранах */
  }
  .dropdown-content ul{
    display: block;
  }
}
