/* Увеличение кнопок переключения для карусели */
.slick-prev, .slick-next {
    width: 50px; /* Увеличиваем ширину */
    height: 50px; /* Увеличиваем высоту */
    z-index: 1;
}

/* Увеличение и изменение иконок стрелок внутри кнопок */
.slick-prev:before, .slick-next:before {
    font-size: 30px; /* Увеличиваем размер иконки стрелки */
    /*color: blue; !* Меняем цвет иконки *!*/
}

/* Дополнительное позиционирование, если необходимо */
.slick-prev {
    left: 20px;
}

.slick-next {
    right: 20px;
}
